extends layout

block localcss
	link(href='styles/style.css',rel='stylesheet',type='text/css')

block content
	div.msg.
		Currently teaching "Wave-Turbulence Interactions in the Oceans" at JPL/Caltech. This site will provide all lecture slides for the current course as well as material a previous course on "Ocean Turbulence from Space."
	div.msg
		| All additional materials can be found on Dropbox, to get access contact 
		a(href="mailto:oceanturbulencefromspace@gmail.com", target="_top") the class administrator
	span#team
		div.people
