doctype html
html
	head
		title= title
		meta(charset='utf8')
		meta(content='width=device-width, initial-scale=1.0',name='viewport')
		block localcss
		link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
		link(href='/styles/pure-min.css',rel='stylesheet',type='text/css')
		link(href='/styles/grids-min.css',rel='stylesheet',type='text/css')

	body
		div(id='layout',class='pure-g',)
			div(id='menu')
					a(href='/' style='text-decoration:none')
						span#label
							span.title Ocean Turbulence
							br
							span.subtitle Patrice Klein
					ul#menu-small
						li
							a.menu-link(href='/static/turbulence.html') Ocean Turbulence from Space
						li
							a.menu-link(href='/static/wave.html') Wave-Turbulence Interactions
			div(class='content')
				block content


			div.footer(style="display:block;")
				&copy Monica Martinez Wilhelmus 2016
	script
		include scripts/ui.js

