extends layout

block localcss
	link(href='../styles/style.css',rel='stylesheet',type='text/css')

block content
	div.msg.
		Present satellite observations provide us with global maps of ocean surface characteristics with different spatial and temporal resolutions. These observations (sea surface height, sea surface temperature, ocean color and surface roughness images) display ubiquitous features such as vortices and filaments with scales ranging from one to several hundreds of km. These features are the surface signature of the ocean turbulence triggered in part by the instability of the large-scale flow.
	div.msg.
		The purpose of this course is to show how the dynamical framework of geostrophic turbulence (turbulence of rotating and stratified fluids) can help to better infer ocean dynamics - at fine spatial and temporal scales – using a combination of heterogeneous satellite observations. The course will review the basic properties of geostrophic turbulence, in particular those reported in the last two decades (related to potential vorticity dynamics, tracer dispersion, frontal dynamics, inverse and direct energy cascades, wave-eddy interactions). Through several examples, we will show how some of these properties can be used to exploit the synergy of using present and future satellite observations (such as SWOT observations) in combination with the ARGO float dataset, and in particular to diagnose a part of the 3D ocean dynamics at fine scales in the first 500m below the surface.
	br
	span#team
		div.subheader(style="clear:both") Lecture Slides:
		p(style="width:20%;margin:auto;font-style:italic") To be added soon!
