extends layout

block localcss
	link(href='../styles/style.css',rel='stylesheet',type='text/css')

block content
	div.msg.
		Description to come
	br
	span#team
		div.subheader(style="clear:both") Lecture Slides:
			div.people
				figure.wp
					a(href='../data/OWTSPACE_1.pdf')
						img(src='../data/O1-0.png' class='ppl')
						p.img-caption
							span.info Week 1
				figure.wp
					a(href='../data/OWTSPACE_2.pdf')
						img(src='../data/O2-0.png' class='ppl')
						p.img-caption
							span.info Week 2
				figure.wp
					a(href='../data/OWTSPACE_3.pdf')
						img(src='../data/O3-0.png' class='ppl')
						p.img-caption
							span.info Week 3
				figure.wp
					a(href='../data/OWTSPACE_4.pdf')
						img(src='../data/O4-0.png' class='ppl')
						p.img-caption
							span.info Week 4
				figure.wp
					a(href='../data/OWTSPACE_5.pdf')
						img(src='../data/O5-0.png' class='ppl')
						p.img-caption
							span.info Week 5
				figure.wp
					a(href='../data/OWTSPACE_6.pdf')
						img(src='../data/O6-0.png' class='ppl')
						p.img-caption
							span.info Week 6
				figure.wp
					a(href='../data/OWTSPACE_7.pdf')
						img(src='../data/O7-0.png' class='ppl')
						p.img-caption
							span.info Week 7
				figure.wp
					a(href='../data/OWTSPACE_9.pdf')
						img(src='../data/O9-0.png' class='ppl')
						p.img-caption
							span.info Week 8
				figure.wp
					a(href='../data/OWTSPACE_10.pdf')
						img(src='../data/O10-0.png' class='ppl')
						p.img-caption
							span.info Week 9
				figure.wp
					a(href='../data/OWTSPACE11.pdf')
						img(src='../data/O11-0.png' class='ppl')
						p.img-caption
							span.info Week 10
				figure.wp
					a(href='../data/OWTSPACE_12.pdf')
						img(src='../data/O12-0.png' class='ppl')
						p.img-caption
							span.info Week 11
				figure.wp
					a(href='../data/OWTSPACE_13.pdf')
						img(src='../data/O13-0.png' class='ppl')
						p.img-caption
							span.info Week 12
				figure.wp
					a(href='../data/OWTSPACE_14.pdf')
						img(src='../data/O14-0.png' class='ppl')
						p.img-caption
							span.info Week 13
